{% extends "base.html" %}

{% block content %}

{% for post in posts %}
<div class="w3-border w3-round w3-margin w3-white">
    <div class="w3-container">
        <a href="" class="w3-hover-text-blue"><h1>{{ post.title }}</h1></a>
        <h5>By, <span class="w3-text-blue">{{ post.author }}</span>, on {{ post.date_posted }}</h5>
    </div>

    <div class="w3-container">
        <p>{{ post.content }}</p>
        <!-- <div class="w3-row">
            <div class="w3-col m8 s12">
                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE
                            »</b></button></p>
            </div>
            <div class="w3-col m4 w3-hide-small">
                <p><span class="w3-padding-large w3-right"><b>Comments </b> <span
                            class="w3-tag">0</span></span></p>
            </div>
        </div> -->
    </div>
</div>
<hr>
{% endfor %}

{% endblock content %}